.input-group .input-group-addon, .input-group>.btn {
	 border-radius: 0 !important;
}

.widget-color-blue>.widget-body {
	border: 1px solid #307ECC;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.well{
    font-size: 14px;
    padding: 15px;
    border: 1px solid transparent;
    margin: 20px 0px;
    border-radius: 0;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: orange !important;
}

.col-md-12{min-width:100% !important; width:100% !important;}

img {
    margin-top: 10px;
    width: 128px;
    height: 128px;
    border: 1px #057bbe solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#the-count {
    float: right;
}

input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
     content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
}
